In [5]:
import pandas as pd
import seaborn as sns
import os
import matplotlib
import matplotlib.pyplot as plt
from matplotlib.ticker import (MultipleLocator, AutoMinorLocator)
import numpy as np

In [6]:
os.listdir('..\data')

['BaseballSalaries2019.csv', 'cdc_bmi_.csv']

In [7]:
df = pd.read_csv('..\data\cdc_bmi_.csv')
df.head()

,Year,Locationabbr,Locationdesc,Class,Topic,Question,Response,Break_Out,Break_Out_Category,Sample_Size,...,Data_Value_Footnote,DataSource,ClassId,TopicId,LocationID,BreakoutID,BreakOutCategoryID,QuestionID,ResponseID,GeoLocation
0,2019,KY,Kentucky,Overweight and Obesity (BMI),BMI Categories,Weight classification by Body Mass Index (BMI)...,Overweight (BMI 25.0-29.9),Overall,Overall,2706,...,NaN,BRFSS,CLASS14,TOPIC09,21,BO1,CAT1,_BMI5CAT,RESP040,"(37.645970271000465, -84.77497104799966)"
1,2020,AK,Alaska,Overweight and Obesity (BMI),BMI Categories,Weight classification by Body Mass Index (BMI)...,Obese (BMI 30.0 - 99.8),"$25,000-$34,999",Household Income,90,...,NaN,BRFSS,CLASS14,TOPIC09,2,INCOME3,CAT6,_BMI5CAT,RESP039,"(64.84507995700051, -147.72205903599973)"
2,2020,AK,Alaska,Overweight and Obesity (BMI),BMI Categories,Weight classification by Body Mass Index (BMI)...,Underweight (BMI 12.0-18.4),45-54,Age Group,5,...,Prevalence estimate not available if the unwei...,BRFSS,CLASS14,TOPIC09,2,AGE04,CAT3,_BMI5CAT,RESP042,"(64.84507995700051, -147.72205903599973)"
3,2020,AZ,Arizona,Overweight and Obesity (BMI),BMI Categories,Weight classification by Body Mass Index (BMI)...,Underweight (BMI 12.0-18.4),65+,Age Group,80,...,NaN,BRFSS,CLASS14,TOPIC09,4,AGE09,CAT3,_BMI5CAT,RESP042,"(34.865970280000454, -111.76381127699972)"
4,2020,AR,Arkansas,Overweight and Obesity (BMI),BMI Categories,Weight classification by Body Mass Index (BMI)...,Underweight (BMI 12.0-18.4),65+,Age Group,49,...,NaN,BRFSS,CLASS14,TOPIC09,5,AGE09,CAT3,_BMI5CAT,RESP042,"(34.74865012400045, -92.27449074299966)"

In [8]:
df.shape

(58538, 27)

In [9]:
df.columns

Index(['Year', 'Locationabbr', 'Locationdesc', 'Class', 'Topic', 'Question',
       'Response', 'Break_Out', 'Break_Out_Category', 'Sample_Size',
       'Data_value', 'Confidence_limit_Low', 'Confidence_limit_High',
       'Display_order', 'Data_value_unit', 'Data_value_type',
       'Data_Value_Footnote_Symbol', 'Data_Value_Footnote', 'DataSource',
       'ClassId', 'TopicId', 'LocationID', 'BreakoutID', 'BreakOutCategoryID',
       'QuestionID', 'ResponseID', 'GeoLocation'],
      dtype='object')

In [18]:
for i in ([1,2,3], [11,12,13], [0.1, 0.1, 0.1]):
    print(i, np.cov(i))

[1, 2, 3] 1.0
[11, 12, 13] 1.0
[0.1, 0.1, 0.1] 2.8888949165808538e-34

In [19]:
np.std([11, 12, 13]) / np.mean([11,12,13])

0.06804138174397717

In [20]:
np.std([1, 2, 3]) / np.mean([1, 2, 3])

0.408248290463863

In [22]:
np.std([10, 4, 12, 15, 20, 5]) / np.mean([10, 4, 12, 15, 20, 5])

0.5034317492677621

In [17]:
np.cov([1, 2, 3])

array(1.)

In [16]:
np.var([1, 5, 5, 5])

3.0

In [12]:
np.var([3, 3, 5, 7, 7])

3.2

In [14]:
np.var([1, 5, 5, 9])

8.0

In [15]:
np.var([3, 3, 7, 7])

4.0

In [ ]:
def